speechrecognition
vosk
pyttsx3
pyaudio
psutil
pyautogui
selenium
opencv-python
ultralytics
openai
google-genai
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
fastapi
uvicorn
python-multipart
pydantic-settings
sqlmodel
email-validator
